---
sudo: false
dist: trusty
language: ruby
cache: bundler
rvm:
  # Ruby version in CentOS7
  #- 2.0.0-p648
  - 2.6.10
env:
  - PUPPET_VERSION="3.8.7"
  - PUPPET_VERSION="4.10.9"
  - PUPPET_VERSION="5.3.3"
before_script:
  # set PATHs because gems are installed like this:
  # bundle install --jobs=3 --retry=3 --path=${BUNDLE_PATH:-vendor/bundle}
  - export GEM_PATH=$GEM_PATH:vendor/bundle/ruby/2.0.0
  - export PATH=$PATH:vendor/bundle/ruby/2.0.0/bin
script: 
  # non-zero return code in script phase fails the build
  - 'puppet parser validate `find manifests -name "*.pp"` --storeconfigs'
after_script:
  # non-zero return code in after_script phase does not fail the build
  - 'puppet-lint --no-autoloader_layout-check --with-filename manifests'
